{
  "plugins": [
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-react-jsx",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
