{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-space-before-closing": ["error", "never"],
    "react/no-unknown-property": "off",
    "no-constant-condition": "off"
  }
}
