{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-space-before-closing": [2, "never"],
    "react/no-unknown-property": 0
  }
}
